@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #4f404b;
}

.App {
  max-width: 1000px;
  margin: 0 auto;


  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.headline {
  font-size: larger;
  font-weight: 200;
  font-weight: 600;
}

.submit-btn:hover {
  background-color: #7a7a7a;
}

.submit-btn:active {
  background-color: #535252;
}

.share_header {
  font-size: 1.2em;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.js-icon {
  width: 26px;
  height: fit-content;
  align-self: center;
}

.top-header {
  display: flex;
  justify-content: space-between;
  height: 53px;
  align-items: center;
  padding-inline: 10px;
  background-color: #ffffff;
  border-bottom: 2px solid #eee;
  box-shadow: 0 0 10px rgb(0 0 0 / 5%);
}

.q_m_wrapper {
  font-size: 1.2em;
  padding: 13px 15px 20px 15px;
  line-height: 140%;
}

/* Editor */
.CodeMirror {
  text-align: justify;
  font-size: 16px;
  height: 500px;
  border: solid 1px #d29898;
}

.theme-editor-choose {
  display: flex;
  gap: 3%;
  font-size: 1.5em;
  padding: 2%;
  cursor: pointer;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Monaco */
.margin-view-overlays {
  width: 40px !important
}

.line-numbers {
  width: 25px !important
}

.monaco-scrollable-element {
  left: 35px !important;
}

/* Share-cmp */
.react-share__ShareButton {
  margin-right: 5px;
}

.react-share__ShareButton:hover:not(:active) {
  opacity: 0.7;
}

.btn-share {
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  background-color: #e09b9bed;
  padding: 2px;
  color: white;
}

.social-wraper {
  display: flex;
  justify-content: center;
}

.social-wraper p {
  padding-left: 10px;
}

/* Modal */
/* src/cmp/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: 1;
}

.modal {
  background: #e09b9bed;
  color: #fffdfd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


/* Medals-cmp: */
.medalsCmp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  gap: 10px;
  padding-top: 20px;
  margin-left: 15px;
}

.daysSolved {
  font-size: 1.2em;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-size: 1.2em;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position above the tooltip icon */
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.medalsCmp strong {
  display: flex;
  align-items: center;
}

.info-icon {
  width: 24px;
  margin-left: 15px;
}

/* Show Question */
.tooltip-io {
  position: relative;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.io {
  display: flex;
  margin-left: 3%;
  border: 1px solid #555;
  width: fit-content;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
  height: 23px;
  min-width: 40px;
  justify-content: center;
  align-items: center;
}

.tooltip-io span {
  cursor: pointer;
  max-width: 93vw;
}

.tooltip-io .tooltiptext-io {
  visibility: hidden;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  z-index: 1;
  margin-left: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: medium;
}

.tooltip-io:hover .tooltiptext-io,
.tooltip-io:focus-within .tooltiptext-io {
  visibility: visible;
  opacity: 1;
}


.tooltiptext-io .io-label {
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 5px;
  font-weight: 500;
  color: #c3c3c3;
}



/* Media-query */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Results:  */
.false-result-wrraper {
  padding: 8px;
  width: 80%;
  margin-left: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  gap: 7px;
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}

.false-result-wrraper div:nth-child(2) {
  font-weight: 600;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: monospace;
}

.results-table th {
  background-color: #f8f8f8;
}

.results-table tr:hover {
  background-color: #f1f1f1;
}

.close-table-btn {
  float: left;
  margin-bottom: 8px;
  border: none;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  width: 20px;
  border: solid 1px #4f404b;
  margin-left: 15px;
}

.close-table-btn:hover {
  background: #6d6c6c;
}

/* Badge: */
.pass-badge {
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.fail-badge {
  padding: 4px 8px;
  border-radius: 4px;
}

.editor-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
  position: relative;
  margin: 0 auto
}

.editor-wrapper img {
  position: absolute;
  top: 90px;
  right: 5px;
  padding: 10px;
  width: 25px;
  cursor: pointer;
  border: solid 1px rgb(139, 139, 139);
  border-radius: 8px;
  z-index: 500;
}

/* code-miror: */
.cm-content {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.cm-tooltip-autocomplete {
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 0;
}

.cm-tooltip-autocomplete .cm-completionLabel {
  padding: 4px;
}

.cm-tooltip-autocomplete .cm-completionIcon {
  height: 20px;
  width: 18px;
  margin-right: 3px;
  padding: 4px;
}

/* Bottom-bar: */
.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1000px;
  height: 60px;
  background-color: rgb(255 255 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border-top: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

.bottom-bar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 4px;
  margin: 0 5px;
  min-width: 60px;
  height: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
  font-weight: 100;
  /* color: white; */
  /* background-color: #6c757d; */
  background-color: rgb(206, 228, 248,0.5);
}

.bottom-bar-btn:hover {
  background-color: rgb(206, 228, 248,1);
}

/* OutputLog: */
.output-log {
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin: 16px auto;
  max-width: 1000px;
  width: 86%;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  overflow-x: auto;
}

.output-log strong {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}

.output-log pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 6px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  margin-bottom: 12px;
}

.output-log pre>div {
  margin-bottom: 4px;
}